# Rust
target/
vendor/
Cargo.lock

# IDE
.idea/
.vscode/

# Config
loft.toml
attic/

# Env / Direnv / Nix
.direnv
.devenv/
.devenv.flake.nix
.env
result
.loft_scan_complete
.loft_cache.db
.pre-commit-config.yaml
